server {
    listen 80;

    # Make site accessible from http://xh.<%= node['app']['domain'] %>
    server_name xh.<%= node['app']['domain'] %>;

    root  <%= node['app']['server_root'] %>/xhprof/xhprof_html;
    index index.php;

    location / {
        try_files $uri $uri/ /index.php?$args;
    }

    location ~ \.php$ {
        try_files      $uri /index.php?$args;

        fastcgi_split_path_info ^(.+\.php)(/.+)$;
        # NOTE: You should have "cgi.fix_pathinfo = 0;" in php.ini

        include        fastcgi_params;
        fastcgi_param  PATH_INFO        $fastcgi_path_info;
        fastcgi_index  index.php;
        fastcgi_param  SCRIPT_FILENAME  $document_root$fastcgi_script_name;
        fastcgi_pass   unix:/var/run/php5-fpm.sock;
    }

    # Deny all attempts to access hidden files
    location ~ /\. {
        deny          all;
        access_log    off;
        log_not_found off;
    }

    error_log <%= node['app']['logs_root'] %>/xhprof-nginx-error.log;
    access_log off;

    gzip on;

    client_max_body_size 10m;

    # do not show the nginx version
    server_tokens off;
}
